<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.3.1.min.js"></script>
    <script src="/javascripts/listing.js"></script>
</head>
<body>
<h1><%= title %></h1>
<p>Code Listing Page</p>
<a id="datedescid" href='http://localhost:3000/users/datedesc'><img src="/images/switch.png" alt="READ"></a>
<a id="dateascid" href='http://localhost:3000/users/dateasc'><img src="/images/switch.png" alt="READ"></a>
<!--<button type="button" onclick="window.location.href='http://localhost:3000/users/datedesc'">SORT DESC</button>-->
<!--<button type="button" onclick="window.location.href='http://localhost:3000/users/dateasc'">SORT ASC</button>-->
<!--<script>-->
    <!--$(document).ready(function () {-->
        <!--$('.datesortid').click(function () {-->
            <!--$('.datesortid').text() == "HIDE CHUCK NORRIS" ?-->
                <!--$('.datesortid').text("GENERATE CHUCK NORRIS") && $('img').hide() :-->
                <!--$('.datesortid').text("HIDE CHUCK NORRIS") && $('img').show();-->
        <!--});-->
<!--</script>-->
<table>
    <thead>
    <tr>
        <th>TITLE</th>
        <th>DESCRIPTION</th>
        <th>LANGUAGE</th>
        <th>AUTHOR</th>
        <th>DATE</th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    <% for(var i = 0; i < data.length; ++i) { %>
    <tr>
        <th><%= data[i].title %></th>
        <th><%= data[i].descript %></th>
        <th><%= data[i].lang %></th>
        <th><%= data[i].author %></th>
        <!--<th><%= data[i].date.getDate() + "." + (data[i].date.getMonth() + 1) + "." + data[i].date.getFullYear() %></th>-->
        <th><%= data[i].date %></th>
        <th>----</th>
        <th><a href="/read"><img src="/images/read.png" alt="READ"></a></th>
        <th><a href="/update"><img src="/images/edit.png" alt="EDIT"></a></th>
        <th><a href="/delete"><img src="/images/delete.png" alt="DELETE"></a></th>
    </tr>
    <% } %>
    </tbody>
</table>
</body>
</html>
